/*Media queries*/
@media only screen and (max-width: 992px) {

    /*Separador navbar*/
    p.separator{
      display: none;
    }

    /*Wallpaper principal*/
    /*
    div.rowWallpaperContainer {
      position: absolute;
      
    }

    div.btnContainer {
      width: 250px;
    }

    a.btn {
      font-size: 15px;
    }

    a.btn2 {
      font-size: 15px;
    }

    div.rowTrailer {
      margin-bottom: 10px;
    }

    div.wallpaperTextContainer {
      margin-left: 5%;
      margin-bottom: 10%;
    }

    p.wallpaperMainText {
      font-weight: 600;
      font-size: 17px;
    }

    p.wallpaperMainSmallText {
      font-weight: 100;
      font-size: 13px;
    }
*/
    
    
}

  
/*NAVBAR*/

/*Colores hover dropdown*/
.dropdown-item:hover {
    background-color: #00000017;
    color: #F8F9FA;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    width: 95px;
}

.fa-angle-double-down {
    margin-left: 5px;
}

/*Animación flecha desplegable*/
.rotate {
    transition: all .3s linear;
}

.rotate.down{
    transform:rotate(-180deg);
}


div.dropdown-menu{
    border-style: none;
}

.dropdown-item {
    color: #a3b3b9;
    transition: background-color .5s;
    transition: color .5s;
}


/*Separador*/
p.separator {
    color: #91A6A9;
    position: relative;
    top: 6px;
    right: 108px;
}


/* Toggle burguer animacion */

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #fff;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }



  /*WALLPAPER*/
 
    /*Particulas*/

    #particles-js {
        background: url(/img/principal_2.jpg);
        background-size: cover;
        /*filter: brightness(100%);*/
        max-width: 100%;
        max-height: 100%;
        
    }

    


    /*Botones*/

    /*Botón 1*/

    :root {
        --bg-color: #645123;
        --primary-color: #f5f5f5;
        --secondary-color: #a09a8c;
      }
      
      .btnContainer {
        /*justify-content: center;
        align-items: center;*/
        
        width: 250px;
        /*height: auto;*/
        /*background: var(--bg-color);*/
      }
      
      .btn {
        position: relative;
        /*width: 250px;*/
        background: var(--bg-color);
        display: block;
        padding: 15px 15px;
        color: var(--primary-color);
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 15px;
        overflow: hidden;
        transition: 0.2s;
      }
      .btn:hover {
        color: var(--secondary-color);
        background: var(--primary-color);
        box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
          0 0 160px var(--primary-color), 0 0 320px var(--primary-color);
        transition-delay: 1s;
      }
      
      .btn span {
        position: absolute;
        display: block;
      }
      .btn span:nth-child(1) {
        top: 0;
        transform: translateX(-115%);
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, transparent, var(--primary-color));
      }
      .btn:hover span:nth-child(1) {
        transform: translateX(100%);
        transition: 1s;
      }
      .btn span:nth-child(3) {
        bottom: 0;
        transform: translateX(100%);
        width: 100%;
        height: 4px;
        background: linear-gradient(270deg, transparent, var(--primary-color));
      }
      .btn:hover span:nth-child(3) {
        transform: translateX(-115%);
        transition: 1s 0.5s;
      }
      .btn span:nth-child(2) {
        right: 0;
        transform: translateY(-130%);
        width: 4px;
        height: 100%;
        background: linear-gradient(180deg, transparent, var(--primary-color));
      }
      .btn:hover span:nth-child(2) {
        transform: translateY(100%);
        transition: 1s 0.25s;
      }
      .btn span:nth-child(4) {
        left: 0;
        transform: translateY(100%);
        width: 4px;
        height: 100%;
        background: linear-gradient(360deg, transparent, var(--primary-color));
      }
      .btn:hover span:nth-child(4) {
        transform: translateY(-130%);
        transition: 1s 0.75s;
      }


      /*Botón 2*/

      :root {
        --bg-color2: #1d1c19;
        --primary-color2: #f5f5f5;
        --secondary-color2: #1b191b;
      }
      
      .btnContainer2 {
        /*position: absolute;
        left: 46%;
        top: 60%;*/
        margin-top: 10px;
        /*justify-content: center;
        align-items: center;*/
        width: 180px;
        /*height: auto;*/
        /*background: var(--bg-color2);*/
      }
      
      .btn2 {
        background: var(--bg-color2);
        position: relative;
        display: block;
        padding: 15px 15px;
        color: var(--primary-color2);
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        font-size: 15px;
        overflow: hidden;
        transition: 0.2s;
      }
      .btn2:hover {
        color: var(--secondary-color2);
        background: var(--primary-color2);
        box-shadow: 0 0 20px var(--primary-color2), 0 0 80px var(--primary-color2),
          0 0 160px var(--primary-color2), 0 0 320px var(--primary-color2);
        transition-delay: 1s;
      }
      
      .btn2 span {
        position: absolute;
        display: block;
      }
      .btn2 span:nth-child(1) {
        top: 0;
        transform: translateX(-115%);
        width: 100%;
        height: 4px;
        background: linear-gradient(90deg, transparent, var(--primary-color2));
      }
      .btn2:hover span:nth-child(1) {
        transform: translateX(100%);
        transition: 1s;
      }
      .btn2 span:nth-child(3) {
        bottom: 0;
        transform: translateX(100%);
        width: 100%;
        height: 4px;
        background: linear-gradient(270deg, transparent, var(--primary-color2));
      }
      .btn2:hover span:nth-child(3) {
        transform: translateX(-115%);
        transition: 1s 0.5s;
      }
      .btn2 span:nth-child(2) {
        right: 0;
        transform: translateY(-130%);
        width: 4px;
        height: 100%;
        background: linear-gradient(180deg, transparent, var(--primary-color2));
      }
      .btn2:hover span:nth-child(2) {
        transform: translateY(100%);
        transition: 1s 0.25s;
      }
      .btn2 span:nth-child(4) {
        left: 0;
        transform: translateY(100%);
        width: 4px;
        height: 100%;
        background: linear-gradient(360deg, transparent, var(--primary-color2));
      }
      .btn2:hover span:nth-child(4) {
        transform: translateY(-130%);
        transition: 1s 0.75s;
      }


      .rowWallpaperContainer {
        position: absolute;
        bottom: 5%;
      }

      .rowTrailer {
        margin-bottom: 100px;
      }

      .wallpaperTextContainer {
        margin: auto;
        padding-left: 50px;
        width: 75%;
        text-align: center;
        color: #e0d8cf;
      }

      .wallpaperMainText {
        font-weight: 600;
        font-size: 45px;
      }

      .wallpaperMainSmallText {
        font-weight: 100;
        font-size: 30px;
      }

    /*Wallpaper Cold War*/

    .wallpaperContainer {
      position: relative;
      
    }

    .wallpaperImage {
      width: 100%;
      height: auto;
    }

    .coldWarTextContainer {
      position: absolute;
      bottom: 10%;
      left: 5%;
      width: 40%;
      height: 50%;
      text-align: left;
      color: #e0d8cf;
    }

    .wallpaperSmallText {
      font-weight: 100;
      font-size: 30px;
      line-height: 30px;
    }
    

    /*Botón Mas Info*/

    :root {
      --bg-color2: #1d1c19;
      --primary-color2: #f5f5f5;
      --secondary-color2: #1b191b;
    }
    
    .btnMasInfoContainer {
      /*position: absolute;
      left: 46%;
      top: 60%;*/
      margin-top: 30px;
      /*justify-content: center;
      align-items: center;*/
      width: 200px;
      /*height: auto;*/
      /*background: var(--bg-color2);*/
    }
    
    .btnMasInfo {
      background: var(--bg-color2);
      position: relative;
      display: block;
      padding: 15px 15px;
      color: var(--primary-color2);
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      font-size: 15px;
      overflow: hidden;
      transition: 0.2s;
    }
    .btnMasInfo:hover {
      color: var(--secondary-color2);
      background: var(--primary-color2);
      box-shadow: 0 0 20px var(--primary-color2), 0 0 80px var(--primary-color2),
        0 0 160px var(--primary-color2), 0 0 320px var(--primary-color2);
      transition-delay: 1s;
    }
    
    .btnMasInfo span {
      position: absolute;
      display: block;
    }
    .btnMasInfo span:nth-child(1) {
      top: 0;
      transform: translateX(-115%);
      width: 100%;
      height: 4px;
      background: linear-gradient(90deg, transparent, var(--primary-color2));
    }
    .btnMasInfo:hover span:nth-child(1) {
      transform: translateX(100%);
      transition: 1s;
    }
    .btnMasInfo span:nth-child(3) {
      bottom: 0;
      transform: translateX(100%);
      width: 100%;
      height: 4px;
      background: linear-gradient(270deg, transparent, var(--primary-color2));
    }
    .btnMasInfo:hover span:nth-child(3) {
      transform: translateX(-115%);
      transition: 1s 0.5s;
    }
    .btnMasInfo span:nth-child(2) {
      right: 0;
      transform: translateY(-130%);
      width: 4px;
      height: 100%;
      background: linear-gradient(180deg, transparent, var(--primary-color2));
    }
    .btnMasInfo:hover span:nth-child(2) {
      transform: translateY(100%);
      transition: 1s 0.25s;
    }
    .btnMasInfo span:nth-child(4) {
      left: 0;
      transform: translateY(100%);
      width: 4px;
      height: 100%;
      background: linear-gradient(360deg, transparent, var(--primary-color2));
    }
    .btnMasInfo:hover span:nth-child(4) {
      transform: translateY(-130%);
      transition: 1s 0.75s;
    }

    
    /*Pase Wallpaper*/

    .paseTextContainer {
      position: absolute;
      bottom: 20%;
      right: 5%;
      width: 30%;
      height: 50%;
      text-align: left;
      color: #e0d8cf;
    }


    /*Footer Wallpapers*/


    /*clase para quitar espacios blancos*/
    .padding-0 {
      padding-right:0;
      padding-left:0;
  }

  .footerTextContainer1 {
    position: absolute;
      bottom: 2%;
      left: 5%;
      /*width: 30%;
      height: 22%;*/
      text-align: left;
      color: #e0d8cf;
      z-index: 10;
  }

  .footerMainText {
    font-weight: 600;
    font-size: 28px;
  }

  .footerSmallText {
    font-weight: 100;
    font-size: 20px;
  }

  .footerTextContainer2 {
    position: absolute;
      bottom: 2%;
      left: 5%;
      /*width: 30%;
      height: 40%;*/
      text-align: left;
      color: #e0d8cf;
      z-index: 10;
  }


  /*Animación zoom footer*/

.img-hover-zoom {
  overflow: hidden;
}


.img-hover-zoom img {
  transition: transform .5s ease;
}


.img-hover-zoom:hover img {
  transform: scale(1.5);
}